<?xml version="1.0"?>
<launch>
        <node pkg="herbi_move_base" type="rowend_estimator_node" name="rowend_estimator_node" ns="move_base" respawn="false" output="screen">
                <remap from="ransac_best_model" to="/ransac/ransac_best_model" />
                <remap from="ransac_inliers" to="/ransac/ransac_inliers" />
                <remap from="cloud_filtered" to="/cloud_filtered" />
                <remap from="path_prop" to="/move_base/global_path_properties" />

        </node>
</launch>

