<?xml version="1.0"?>
<launch>
	<!--arguments-->
	<arg name="arg_robot" default="herbi_1_0"/>
	<arg name="arg_simulation" default="true"/>
	<arg name="arg_sim_world" default="$(find herbi_gazebo_worlds/ros/worlds/emptiefield.world"/>
	<arg name="arg_sim_field" default="$(find herbi_gazebo_worlds/ros/worlds/field1.urdf"/>

	<!--launch the robot-->
        <include file="$(find herbi_robot_config)/$(arg arg_robot)/rowestimation/rowestimation.launch">
		<arg name="arg_robot" value="$(arg arg_robot)"/>
	</include>


</launch>

